<h1>Edit an Author in the database</h1>

<%= form_for @author do |f| %>
<p>
<%= f.label :name %><br/>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :date_of_birth %><br/>
<%= f.date_field :date_of_birth %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>